*.toDelete
output/**
*.class
*~
*.iml
*/.idea/**
.idea/**
.idea
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
build/
tmp_deb_control/
tmp_rpm_control/
tmp_sh/
.gwt/
.settings/
/bin
bin/
**/dependency-reduced-pom.xml
pom.xml.versionsBackup
.DS_Store
**/.gradle
**/local.properties
**/build
**/target
**/Californium.properties
**/Californium3.properties
**/.env
.instance_id
rebuild-docker.sh
*/.run/**
.run/**
.run

# NPL Modernization
.cursorrules
.vscode/
node_modules/
package-lock.json
package.json
npl-modernization/frontend-overlay/dist/
npl-modernization/overlay/*.js
openapi/
/docker-compose.yml
thingsboard_postgres_data/
